# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & Build
build/
dist/
*.egg-info/
.flutter-plugins
.flutter-plugins-dependencies

# Downloaded music cache
LosslessMusic/
*.m4a
*.flac
*.mp3
settings.json
